{% extends "article_site_base.html" %}

{% load custom_tags %}
{% load i18n %}

{% block head_title %}{{ head_title_text }}{% endblock %}

{% block body %}
{% blocktrans %}
<div>
	<h1>{{ head_title_text }}</h1>
	<h4>1. 运行mahout命令</h4>
	<p>在安装完Mahout后我们执行<code>mahout</code>会出现所有可以使用的命令, 就像下面贴出来的这样</p>
	{% endblocktrans %}
	{% get_code 2 %}
	{% blocktrans %}
	<div class="row">
		<div class="col-lg-10 no-padding-right">
			<div class="panel panel-default">
				<div class="panel-heading">代码分析</div>
				<div class="panel-body">
					<p>
					这段代码暗示了Mahout的底层运行机制就是在Hadoop运行环境下执行这个
					<code>mahout-examples-0.8-job.jar</code>, 
					那么具体是不是这样,我们现在就分析一下mahout/bin目录下的mahout文件。
					由于代码内容比较长,我只贴出了执行部分,之前的那些赋值和逻辑判断代码请自行研读
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-2">
		
		</div>
	</div>
	<h4>2. bin/mahout源码分析</h4>
	{% endblocktrans %}
	{% get_code 3 %}
	{% blocktrans %}
	<div class="row">
		<div class="col-lg-10 no-padding-right">
			<div class="panel panel-default">
				<div class="panel-heading">代码分析</div>
				<div class="panel-body">
					<p>
					可以看到Mahout运行分为两种方式,一种是作为普通的java程序在本地模式运行,另一种
					则是在hadoop环境下执行,而在hadoop环境下运行也分为两种,一种是第一个参数是hadoop,
					比如mahout hadoop fs -ls,这种情况其实就等同于执行hadoop fs -ls,另一种就是执行
					mahout-examples-0.8-job.jar的org.apache.mahout.driver.MahoutDriver,
					详情可以见本代码的最后一个mark注释。
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-2">
		
		</div>
	</div>
	<h4>3. MahoutDriver源码分析</h4>
	<p>
		org.apache.mahout.driver.MahoutDriver在项目mahout-core下的src/main/java中, 代码的逻辑分为两个部分,
		第一部分是读取prop文件来获取命令所需要执行的class,第二部分是用driver获取的arglist作为参数来执行该class,
		这就意味着我们做开发的时候可以在这个文件里面添加内容来增加mahout可以执行的命令。
		代码如下：
	</p>
	{% endblocktrans %}
	{% get_code 4 %}
	{% get_code 5 %}
	{% blocktrans %}
	<h4>总结</h4>
	<ol>
		<li>mahout可以以本地和hadoop两种模式运行</li>
		<li>hadoop模式下mahout执行命令是由<code>org.apache.mahout.driver.MahoutDriver</code>来分配具体执行任务的class的</li>
		<li>文件<code>driver.classes.default.props</code>位于mahout目录的src/conf下, 做二次开发时
			可以在这个文件里面添加内容来增加mahout可以执行的命令。</li>
	</ol>
	
	{% endblocktrans %}
</div>
{% blocktrans %}	

	
	


















{% endblocktrans %}
{% endblock %}

