{% extends "site_base.html" %}
{% load i18n %}

{% load i18n %}

{% block head_title %}{{ head_title_text }}{% endblock %}

{% block body %}
{% blocktrans %}
<div>
	<h1>开始使用Mahout</h1>
	<h3>Mahout命令的本质是什么?</h3>
	<p>在安装完Mahout后我们执行<code>mahout</code>会出现所有可以使用的命令, 就像下面贴出来的这样</p>
<pre>
[hadoop-user@home ~]$ mahout
MAHOUT_LOCAL is not set; adding HADOOP_CONF_DIR to classpath.
Warning: $HADOOP_HOME is deprecated.

Running on hadoop, using /home/hadoop-user/hadoop-1.2.1/bin/hadoop and HADOOP_CONF_DIR=/home/hadoop-user/hadoop-1.2.1/conf
MAHOUT-JOB: /home/hadoop-user/workspace/mahout-distribution-0.8/examples/target/mahout-examples-0.8-job.jar
Warning: $HADOOP_HOME is deprecated.

An example program must be given as the first argument.
Valid program names are:
  arff.vector: : Generate Vectors from an ARFF file or directory
  baumwelch: : Baum-Welch algorithm for unsupervised HMM training
  canopy: : Canopy clustering
  cat: : Print a file or resource as the logistic regression models would see it
  cleansvd: : Cleanup and verification of SVD output
...
</pre>
	<p>那么这些命令的背后是什么程序在执行, 具体的流程是怎么样的, 将是我们需要弄明白的第一个问题。</p>
</div>


{% endblocktrans %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
</script>
{% endblock %}