{% extends "site_base.html" %}

{% load custom_tags %}
{% load i18n %}

{% block head_title %}{{ head_title_text }}{% endblock %}

{% block body %}


<div class="list_area">
	<table class="list_table table table-bordered table-condensed">
		<tr>
			{% blocktrans %}
			<td width="4%">ID</td>
			<td width="10%">Category</td>
			<td width="10%">Username</td>
			<td width="20%">Title</td>
			<td width="">Description</td>
			<td width="8%">Date create</td>
			{% endblocktrans %}
		</tr>
		{% for articleindex in articleindex_list %}
		{% get_auth_author_admin articleindex.uid view.request.user.id view.request.user.is_superuser as auth_author_admin %}
		<tr>
			<td>{{ articleindex.id }}</td>
			<td class="category_td">{{ articleindex.cate_id|cate_id_format:category_dict_pk|safe }}</td>
			<td>{{ articleindex.username }}</td>
			<td>
				{{ articleindex.title }}
				{% if auth_author_admin %}
				<a class="text-danger" href="/articleindex/edit/{{ articleindex.id }}/">[{% trans "edit" %}]</a>
				<a class="text-danger deletelink" href='javascript:;' data-id='{{ articleindex.id }}' data-type='articleindex' data-redirect="/articleindex/list/">[{% trans "delete" %}]</a>
				{% endif %}
			</td>
			<td><span title="{{ articleindex.description }}">{{ articleindex.description|slice:":100" }}</span></td>
			<td>{{ articleindex.date_create|hdate }}</td>
		</tr>
		{% endfor %}
	</table>
	{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/article/list/?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
                {% endif %}
                {% blocktrans with page_number=page_obj.number num_pages=page_obj.paginator.num_pages %}
                <span class="page-current">
                    Page {{ page_number }} of {{ num_pages }}
                </span>
                {% endblocktrans %}
                {% if page_obj.has_next %}
                    <a href="/article/list/?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>		








{% endblock %}

{% block extra_script %}
<script type="text/javascript">
</script>
{% endblock %}

