{% extends "site_base.html" %}

{% load custom_tags %}
{% load i18n %}
{% load static %}

{% block head_title %}{{ head_title_text }}{% endblock %}

{% block body %}


<div class="list_area">
	<table class="list_table table table-bordered table-condensed sort_table" id="table">
		<thead>
		<tr>
			<td width="4%">{% trans "ID" %}</td>
			<td width="10%">{% trans "Category" %}</td>
			<td width="10%">{% trans "Username" %}</td>
			<td width="">{% trans "Title" %}</td>
			<td width="20%">{% trans "ArticleIndex" %}</td>
			<td width="20%">{% trans "Code Detail" %}</td>
			<td width="8%">{% trans "Date create" %}</td>
		</tr>
		</thead>
		<tbody>
		{% for article in article_list %}
		{% get_auth_author_admin article.uid view.request.user.id view.request.user.is_superuser as auth_author_admin %}
		<tr>
			<td>{{ article.id }}</td>
			<td class="category_td">{{ article.cate_id|cate_id_format:category_dict_pk|safe }}</td>
			<td>{{ article.username }}</td>
			<td>
				<a href="/article/view/{{ article.id }}/">{{ article.title }}</a>
				{% if auth_author_admin %}
				<a class="text-danger" href="/article/edit/{{ article.id }}/">[{% trans "edit" %}]</a>
				<a class="text-danger deletelink" href='javascript:;' data-id='{{ article.id }}' data-type='article' data-redirect="/article/list/">[{% trans "delete" %}]</a>
				{% endif %}
			</td>
			<td>{{ article.articleindex_title|default:"" }}</td>
			<td>{{ article.content|get_code_detail_from_content }}</td>
			<td>{{ article.date_create|hdate }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	{% if is_paginated %}
		<div class="pagination">
			<span class="page-links">
				{% if page_obj.has_previous %}
				<a href="/article/list/?page={{ page_obj.previous_page_number }}">{% trans "previous page" %}</a>
				{% endif %}
				{% blocktrans with page_number=page_obj.number num_pages=page_obj.paginator.num_pages %}
				<span class="page-current">
				Page {{ page_number }} of {{ num_pages }}
				</span>
				{% endblocktrans %}
				{% if page_obj.has_next %}
				<a href="/article/list/?page={{ page_obj.next_page_number }}">{% trans "next page" %}</a>
				{% endif %}
			</span>
		</div>
	{% endif %}
</div>		








{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="{% static "js/sort_table.js" %}"></script>
{% endblock %}

