{% extends "site_base.html" %}

{% load custom_tags %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap %}

{% block head_title %}{{ head_title_text }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-10">
            <form id="post_form" method="post" action="">
            <fieldset>
                <legend>{{ legend_text }}</legend>
                {% csrf_token %}
                {{ form|bootstrap:"title" }}
                <div class="form-group {{ form.custom_field_error_css.content }}">
					<label class="control-label  " for="id_content">{% trans "Content" %}</label>
	                <div class=" ">
	            		<textarea id="comment_editor" name="content">{{ form.custom_field_value.content }}</textarea>
						<input class="upload_file" id="upload_image" type="file" style="display:none;" data-type="image" data-module="article_image" />
						<input class="upload_file" id="upload_file" type="file" style="display:none;" data-type="file" data-module="article_file" />
			        </div>
			        {% for error in form.custom_field_error_text.content %}
				        <span class="help-block">{{ error }}</span>
				    {% endfor %}
				</div>
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn btn-primary">{{ submit_btn_text }}</button>
			</fieldset>
            </form>
        </div>
    </div>
<style type="text/css">
#id_description {height:100px;}
</style>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$(document).ready(function() {
    $('#id_title').focus();
});
tinymce.init({
	relative_urls : false,
	remove_script_host : false,
	convert_urls : true,
	language:'{{ CONSTANT.tinymce.language|get:LANGUAGE_CODE }}',
	height : 300,
	menubar:false,
    statusbar: true,
    selector: '#comment_editor',
    tools: "inserttable",
    plugins: ["image", "media", "emoticons", "textcolor", "link", "table","code","fileupload","highlight_text"],
    toolbar: " emoticons | styleselect fontsizeselect | bold italic underline forecolor backcolor highlight_text | link insertcode image fileupload table code | alignleft aligncenter alignright | undo redo ",
    file_browser_callback: function(field_name, url, type, win) { 
    	if(type == 'image') {
    		$("#upload_image").attr("data-inputid", field_name)
    		$('#upload_image').click();
    	} else if(type == 'file') {
    		$("#upload_file").attr("data-inputid", field_name)
    		$('#upload_file').click();
    	}
         
    },
    
    setup: function(editor) {
    	editor.addButton('insertcode', {
            text: 'Code',
            tooltip: 'insert code',
            icon: false,
            onclick: function() {
            	
            	var url = "/code/insert/";
            	
            	editor.windowManager.open({
            	    title: "insert code",
            	    url: url,
            	    width: 700,
            	    height: 210,
            	});
            }
        });
        
    },
});

</script>
{% endblock %}

{% block extra_script_base %}
<script type="text/javascript" src="{% static "tinymce/tinymce.min.js" %}"></script>
{% endblock %}