{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Upload PDF" %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-4">
            <form id="post_category_form" method="post" action="{% url "category_new" %}" autocapitalize="off">
                <legend>{% trans "New Category" %}</legend>
                {% csrf_token %}
                {{ form|bootstrap }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_catename').focus();
        });
    </script>
{% endblock %}