{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}{{ head_title_text }}{% endblock %}

{% block body %}
	<style type="text/css">
	#id_description {height:100px;}
	</style>
    <div class="row">
        <div class="col-lg-4">
        	{{ cate.name }}
            <form id="post_category_form" method="post" action="" autocapitalize="off">
                <legend>{{ head_title_text }}</legend>
                {% csrf_token %}              
  				{{ form|bootstrap:"name" }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_catename').focus();
        });
    </script>
{% endblock %}