{% include GV.path.header %}
<div class="content">
	<fieldset>
		<legend>Fetch data</legend>
		<div class="dataDownloadArea clearfix">
			<div class="pull-left dataDownloadBlock" id="dataInfoDisplay_001" class="dataInfoDisplay">
				<form action="/fetchdata/process/" method="post">
				<input type="hidden" name="data_id" />
				<h4 class="dataTitle text-center">Popular links on Delicious.com</h4>
				<p class="dataDescription">description description description description description description description description description description description description description description description description description description description description description description description</p>
				<div class="text-center downloadBtnArea">
					<button class="dataDownloadBtn" type="submit">Download</button>
				</div>
				</form>
			</div>
			
			<div class="pull-left dataDownloadBlock" id="dataInfoDisplay_001" class="dataInfoDisplay">
				<h4 class="dataTitle text-center">Popular links on Delicious.com</h4>
				<p class="dataDescription">description description description description description description description description description description description description description description description description description description description description description description description</p>
				<div class="text-center downloadBtnArea">
					<button class="dataDownloadBtn" type="button">Download</button>
				</div>
			</div>
			<div class="pull-left dataDownloadBlock marginRightNone" id="dataInfoDisplay_001" class="dataInfoDisplay">
				<h4 class="dataTitle">Popular links on Delicious.com</h4>
				<p class="dataDescription">description description description description description description description description description description description description description description description description description description description description description description description</p>
				<div class="text-center downloadBtnArea">
					<button class="dataDownloadBtn" type="button">Download</button>
				</div>
			</div>
		</div>
	</fieldset>
</div>
{% include GV.path.fooer %}