{% extends "site_base.html" %}

{% load custom_tags %}
{% load staticfiles %}
{% load bootstrap %}
{% load i18n %}

{% block head_title %}{{ head_title_text }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-7">
            <form id="comment_post_form" method="post" action="" autocapitalize="off">
            <fieldset>
                <legend>{{ legend_text }}</legend>
                {% csrf_token %}
                {{ form|bootstrap }}
                <div class="form-group {{ form.custom_field_error_css.rate_score }}">
					<label class="control-label  " for="id_content">{% trans "How about this PDF" %}</label>
	                <div class=" ">
	                	<input type="radio" value="1" name="rate_score" class="rate_score_input" id="rating_label_1" {% if form.custom_field_value.rate_score == '1' %}checked="checked"{% endif %} />
	                	<label for="rating_label_1" class="mrw">
	                		<span class="glyphicon glyphicon-star"></span>
	                	</label>
	                	<input type="radio" value="2" name="rate_score" class="rate_score_input" id="rating_label_2" {% if form.custom_field_value.rate_score == '2' %}checked="checked"{% endif %} />
	                	<label for="rating_label_2" class="mrw">
	                		<span class="glyphicon glyphicon-star"></span>
	                		<span class="glyphicon glyphicon-star"></span>
	                	</label>
	                	<input type="radio" value="3" name="rate_score" class="rate_score_input" id="rating_label_3" {% if form.custom_field_value.rate_score == '3' %}checked="checked"{% endif %} />
	                	<label for="rating_label_3" class="mrw">
		                	<span class="glyphicon glyphicon-star"></span>
		                	<span class="glyphicon glyphicon-star"></span>
		                	<span class="glyphicon glyphicon-star"></span>
	                	</label>
	                	<input type="radio" value="4" name="rate_score" class="rate_score_input" id="rating_label_4" {% if form.custom_field_value.rate_score == '4' %}checked="checked"{% endif %} />
	                	<label for="rating_label_4" class="mrw">
		                	<span class="glyphicon glyphicon-star"></span>
		                	<span class="glyphicon glyphicon-star"></span>
		                	<span class="glyphicon glyphicon-star"></span>
		                	<span class="glyphicon glyphicon-star"></span>
	                	</label>
	                	<input type="radio" value="5" name="rate_score" class="rate_score_input" id="rating_label_5" {% if form.custom_field_value.rate_score == '5' %}checked="checked"{% endif %} />
	                	<label for="rating_label_5" class="mrw">
		                	<span class="glyphicon glyphicon-star"></span>
		                	<span class="glyphicon glyphicon-star"></span>
		                	<span class="glyphicon glyphicon-star"></span>
		                	<span class="glyphicon glyphicon-star"></span>
		                	<span class="glyphicon glyphicon-star"></span>
	                	</label>
			        </div>
			        {% for error in form.custom_field_error_text.rate_score %}
				        <span class="help-block">{{ error }}</span>
				    {% endfor %}
				</div>
                <div class="form-group {{ form.custom_field_error_css.content }}">
					<label class="control-label  " for="id_content">{% trans "Content" %}</label>
	                <div class=" ">
	            		<textarea id="comment_editor" name="content">{{ form.custom_field_value.content }}</textarea>
						<input class="upload_file" id="upload_image" type="file" style="display:none;" data-type="image" data-module="article_image" />
						<input class="upload_file" id="upload_file" type="file" style="display:none;" data-type="file" data-module="article_file" />
			        </div>
			        {% for error in form.custom_field_error_text.content %}
				        <span class="help-block">{{ error }}</span>
				    {% endfor %}
				</div>
                
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn btn-primary">{{ submit_btn_text }}</button>
			</fieldset>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$(document).ready(function() {
    $('#id_title').focus();
});
tinymce.init({
	theme : "advanced_theme",
	selector: '#comment_editor',
	language:'{{ CONSTANT.tinymce.language|get:LANGUAGE_CODE }}',
	plugins : "emoticons textcolor link anchor table code insertcode highlight_text image fileupload",
});
</script>
{% endblock %}


{% block extra_script_base %}
<script type="text/javascript" src="{% static "tinymce/tinymce.min.js" %}"></script>
{% endblock %}