{% extends "site_base.html" %}

{% load custom_tags %}
{% load i18n %}
{% load static %}

{% block head_title %}{{ head_title_text }}{% endblock %}
{% block body %}
<div class="list_area">
	<table class="list_table table table-bordered table-condensed table-hover sort_table" id="table">
		<thead>
		<tr>
			<td width="10%">{% trans "Category" %}</td>
			<td>{% trans "Title" %}</td>
			<td width="5%">{% trans "Views" %}</td>
			<td width="5%">{% trans "Marks" %}</td>
			<td width="7%">{% trans "Comment" %}</td>
			<td width="10%">{% trans "Contributor" %}</td>
			<td width="8%">{% trans "Upload Date" %}</td>
			<td width="6%">{% trans "Size" %}</td>
			<td width="10%" class="nosort">{% trans "Operate" %}</td>
		</tr>
		</thead>
		<tbody>
		{% for pdf in pdf_list %}
		<tr>
			<!--<td class="category_td">{{ pdf.cate_id|cate_id_format:category_dict_pk|safe }}</td>-->
			<td>{{ pdf.cate_id|get_category_name }}</td>
			<td>
				<a href="/pdf/view/{{ pdf.id }}/" title="{{ pdf.description }}">{{ pdf.title }}</a>
			</td>
			<td>{{ pdf.views }}</td>
			<td>{{ pdf.mark }}</td>
			<td>{{ pdf.comment }}</td>
			<td>{{ pdf.username }}</td>
			<td>{{ pdf.date_upload|hdate }}</td>
			<td>{{ pdf.filesize|hsize }}</td>
			<td>
				<a class="text-danger" href="{{ pdf.filepath }}">{% trans "View PDF" %}</a>
				<a class="text-danger" href="/pdf/download/{{ pdf.id }}/">{% trans "Download" %}</a>
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/pdf/list/?page={{ page_obj.previous_page_number }}">{% trans "previous page" %}</a>
                {% endif %}
                {% blocktrans with page_number=page_obj.number num_pages=page_obj.paginator.num_pages %}
                <span class="page-current">
                    Page {{ page_number }} of {{ num_pages }}
                </span>
                {% endblocktrans %}
                {% if page_obj.has_next %}
                    <a href="/pdf/list/?page={{ page_obj.next_page_number }}">{% trans "next page" %}</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="{% static "js/sort_table.js" %}"></script>
{% endblock %}