{% extends "site_base.html" %}

{% load custom_tags %}
{% load i18n %}

{% block head_title %}{{ head_title_text }}{% endblock %}
{% block body %}
<div class="list_area">
	<table class="list_table table table-bordered table-condensed">
		<tr>
			{% blocktrans %}
			<td width="10%">Category</td>
			<td>Title</td>
			<td width="5%">Views</td>
			<td width="5%">Marks</td>
			<td width="7%">Comment</td>
			<td width="10%">Contributor</td>
			<td width="8%">Upload Date</td>
			<td width="6%">Size</td>
			<td width="7%">Operate</td>
			{% endblocktrans %}
		</tr>
		{% for pdf in pdf_list %}
		{% get_auth_author_admin pdf.uid view.request.user.id view.request.user.is_superuser as auth_author_admin %}
		<tr>
			<td class="category_td">{{ pdf.cate_id|cate_id_format:category_dict_pk|safe }}</td>
			<td>
				<a href="/pdf/view/{{ pdf.id }}/" title="{{ pdf.description }}">{{ pdf.title }}</a>
				{% if auth_author_admin %}
				<a class="text-danger" href="/pdf/edit/{{ pdf.id }}/">[{% trans "edit" %}]</a>
				<a class="text-danger deletelink" href='javascript:;' data-id='{{ pdf.id }}' data-type='pdf' data-redirect="/category/list/">[{% trans "delete" %}]</a>
				{% endif %}
			</td>
			<td>{{ pdf.views }}</td>
			<td>{{ pdf.mark }}</td>
			<td>{{ pdf.comment }}</td>
			<td>{{ pdf.username }}</td>
			<td>{{ pdf.date_upload|hdate }}</td>
			<td>{{ pdf.filesize|hsize }}</td>
			<td>
				<a class="text-danger" href="{{ pdf.filepath }}">{% trans "View PDF" %}</a><br/>
				<a class="text-danger" href="/pdf/download/{{ pdf.id }}/">{% trans "Download" %}</a>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}