<div>
<textarea id="mark_editor" name="content"></textarea>
<!-- <form id="mark_form" action="/ajax_upload/" target="form_target" method="post" enctype="multipart/form-data" style="">
{% csrf_token %}
<input name="module" type="hidden" value="mark_image" />
<input name="upload_file" id="upload_file" type="file" />
<button>submit</button>
</form>
-->

<input name="upload_file" id="upload_file" type="file" style="display:none;" />
</div>
<style type="text/css">
.modal-body .mce-btn button {padding:2px 4px;}
</style>
<script type="text/javascript">
tinymce.init({
	menubar:false,
    statusbar: false,
    selector: '#mark_editor',
    plugins: ["image", "emoticons"],
    toolbar: " emoticons bold italic image | undo redo ",
    file_browser_callback: function(field_name, url, type, win) { 
    	if(type == 'image') {
    		$("#upload_file").attr("data-inputid", field_name)
    		$('#upload_file').click();
    	}
         
    }
});
$("#upload_file").change(function(){
	//var formData = new FormData($('#mark_form')[0]);
	var formData = new FormData();
	formData.append("module", "mark_image")
	formData.append("upload_file", document.getElementById('upload_file').files[0])
	$(this).val("");
    $.ajax({
		url: "/ajax_upload/",
		type: "post",
		dataType: 'json',
		data: formData,
		processData: false,
		contentType: false,
		success: function(response) {
			if(response.code == -1) {
				alert(response.msg)
			} else if(response.code == 1) {
				$("#"+$("#upload_file").attr("data-inputid")).val(response.target_savepath)
			}
		},
		error: function(jqXHR, textStatus, errorMessage) {
			alert('upload image failed');return false;
		}
	});
});
</script>
{% block modal_form_javascript %}
<script type="text/javascript">
$("#modal_form").submit(function(){
	var fd = $(this).serialize();
	$.ajax({
		url: "{{ request.path }}",
		type: "POST",
		data: fd,
		error: function(){alert('try it again');return false;},
		success: function(data) {
			$(".mark_nav_anchor_view_line").trigger('click');
		}
	});
	return false;
});
</script>
{% endblock %}