<div>
{% load custom_tags %}
<textarea id="mark_editor" name="content"></textarea>
<input class="upload_file" id="upload_image" type="file" style="display:none;" data-type="image" data-module="code_mark_image" />
<input class="upload_file" id="upload_file" type="file" style="display:none;" data-type="file" data-module="code_mark_file" />
</div>
<script type="text/javascript">
tinymce.init({
	theme : "simple_theme",
	selector: '#mark_editor',
	language:'{{ CONSTANT.tinymce.language|get:LANGUAGE_CODE }}',
	plugins : "emoticons textcolor link code highlight_text image fileupload",
});
</script>
{% block modal_form_javascript %}
<script type="text/javascript">
$("#modal_form").submit(function(){
	var fd = $(this).serialize();
	$.ajax({
		url: "{{ request.get_full_path }}",
		type: "POST",
		data: fd,
		error: function(){alert('try it again');return false;},
		success: function(data) {
			$(".mark_nav_anchor_view_line").trigger('click');
		}
	});
	return false;
});
</script>
{% endblock %}