{% load i18n %}

<div style="padding:0 10px;">
	<h4>{% trans "About MARK system" %}</h4>
	<h5 class="xw1">{% trans "How to mark" %}</h5>
	<div>
		<ol>
			<li>
				<span>click the mark link</span>
				<div class="mbm">
					<img src="/static/image/mark_click.png" width="467" height="118" />
				</div>
			</li>
			<li>
				<span>fill out the mark form then submit</span><br/>
				<div class="mbm">
					<img src="/static/image/mark_form.png" width="467" height="218" />
				</div>
			</li>
		</ol>
	</div>
	<h5 class="xw1">{% trans "Read marks" %}</h5>
	<div>
		<span>click the bubble on the left-side then you could view all marks on this <span class="xw1">line/page</span></span>
		<div>
			<img src="/static/image/mark_view_line.png" width="467" height="188" />
		</div>
		<div>
			<img src="/static/image/mark_view_page.png" width="467" height="267" />
		</div>
	</div>
</div>