{% load i18n %}
<div class="mark_view_body">
	<div class="mark_view_header mbw" style="border-bottom:1px solid #666;">
		<span class="pdf_name mrm">pdf: {{ pdf.title }}</span>
		<span class="mrm">page: {{ kwargs.page_num }}</span>
		{% if view_type == 'line' %}
		<span class="mrm">line: {{ kwargs.line_num }}</span>
		{% endif %}
	</div>
	<div class="mark_list">
		{% for mark in marklist %}
		<div class="mbm mark_block">
			<div class="mark_record_top">
				<span class="pdf_user mrm">
					<span class="text-muted xw1">{{ mark.username }}</span>
				</span>
				<span class="mark_createdate text-muted mrm">{{ mark.date_create |date:"Y-m-d H:i:s" }}</span>
			</div>
			<div class="mark_content mbm">
			{{ mark.content | safe }}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<style type="text/css">
.mark_record_top {font-size:12px;}
</style>