{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load url from future %}
{% load bootstrap %}

{% block head_title %}{{ head_title_text }}{% endblock %}

{% block fix_button_area %}
<div class="fix_button_area">
	<div class="btn-group-vertical">
		<button type="button" class="btn btn-default go_previous">
  			<span class="glyphicon glyphicon-chevron-up"></span>
  			<span class="fix_button_text">{% trans "Previous" %}</span>
  		</button>
  		<button type="button" class="btn btn-default go_next">
  			<span class="glyphicon glyphicon-chevron-down"></span>
  			<span class="fix_button_text">{% trans "Next" %}</span>
  		</button>
  		<button type="button" class="btn btn-default go_page">
  			<form id="jump_page_form">
 			{% blocktrans with pn=view.kwargs.page_num %}
 			To
 			<input type="text" maxlength="5" id="jump_page_input" value="{{ pn }}" class="small_input" />
 			{% endblocktrans %}
  			</form>
  		</button>
		{% if view.request.user.id == pdf.uid %}
  		<a class="btn btn-default" href="/pdf/edit/{{ pdf.id }}">
  			<span class="glyphicon glyphicon-edit"></span>
  			<span class="fix_button_text">{% trans "edit" %}</span>
  		</a>
  		<a class="btn btn-default deletelink" href='javascript:;' data-id='{{ pdf.id }}' data-type='pdf' data-redirect="/pdf/list/">
  			<span class="glyphicon glyphicon-remove"></span>
  			<span class="fix_button_text">{% trans "delete" %}</span>
  		</a>
  		{% endif %}
	</div>
</div>
{% endblock %}

{% block body %}
{% if pdf_content %}
<input type="hidden" name="pdf_id" value="{{ pdf.id }}" id="pdf_id" />
<div class="pdf_brief">
	<div class="pdf_top row mbm">
		<div class="col-md-8">
			<span class="pdf_user mrw">
			<span>{{ pdf.username }}</span>
			</span>
			<span class="postdate mrw">{{ pdf.date_upload }}</span>
			<span class="statistic mrw">
				<span class="mrm">{% trans "Views:" %}{{ pdf.views }}</span>
				<span class="mrm">{% trans "Mark:" %}{{ pdf.mark }}</span>
				<span>{% trans "Comment:" %}{{ pdf.comment }}</span>
			</span>
		</div>
		<div class="col-md-4" style="padding-right:4px;">
			<div class="btn-group btn-group-xs pdf_btn pull-right">
			  	<a href="/pdf/download/{{ pdf.id }}/" class="btn btn-default">{% trans "download" %}</a>
			  	<a href="{{ pdf.filepath }}" class="btn btn-default">{% trans "view pdf" %}</a>
			  	<a href="/pdf/comment/{{ pdf.id }}/?next={{ request.path }}" class="btn btn-default">{% trans "comment" %}</a>
			</div>
					
		</div>
	</div>
	<div class="row">
		<div class="col-md-9">
			<h3 class="pdf_title">{{ pdf.title }}</h3>
			<pre class="pdf_desc no-border">{{ pdf.description }}</pre>
		</div>
		<div class="col-md-3" style="">
					
		</div>
	</div>
</div>
<div class="pdf_body">
	<div class="pdf_content" style="position:relative;">
		{% include 'pdf/pdf_content.html' %}
	</div>
</div>
<div>
	{% for comment in comment_list %}
	<div class="row comment_box">
		<div class="col-lg-2">
			<div class="account_area">
				<div class="account_name">
					{{ comment.username }}
				</div>
				<div class="avatar">
					<img src="{{ comment.user.avatar }}" width="" height="" class="img-responsive img-thumbnail" /> 
				</div>
				<div class="count_area">
					<div>Mark: {{ comment.user.mark|default:"0" }}</div>
					<div>Comment: {{ comment.user.comment|default:"0" }}</div>
				</div>			
			</div>
		</div>
		<div class="col-lg-10">
			<div class="comment_area">
				<div class="comment_header">
					<span class="comment_postdate">{{ comment.date_create }}</span>
					<div class="comment_content">{{ comment.content|safe }}</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>






<style type="text/css">
.pdf_body {width:100%;background:#f5f5f5;padding-bottom:30px;margin-bottom:30px;}
.pdf_brief {background:#f5f5f5;padding:10px 45px 20px 45px;}
.side_bar a{display:block;}
.row_layer_content {padding-left:45px;}
.row_layer a {margin-right:10px;}
.mark_link {text-decoration:underline;}
.pdf_page_jump {position:absolute;top:-40px;;right:35px;}
.pdf_wrapper .tooltip {
	opacity: 0.4;cursor:pointer;
}
.left-side a {color:#f5f5f5;}
.comment_box {min-height:100px;padding:20px 30px;border-bottom:1px solid #ccc;}
.comment_box p {margin-bottom:0;}
</style>












{% else %}
not exists
{% endif %}
{% endblock %}



{% block extra_script %}
<script type="text/javascript" src="{% static "js/pdf_view.js" %}"></script>
{% endblock %}

{% block extra_script_base %}
<script type="text/javascript" src="{% static "tinymce/tinymce.min.js" %}"></script>
{% endblock %}