{% extends "site_base.html" %}

{% load custom_tags %}
{% load i18n %}
{% load static %}

{% block head_title %}{{ head_title_text }}{% endblock %}

{% block body %}


<div class="list_area">
	<table class="list_table table table-bordered table-condensed table-hover sort_table" id="table">
		<thead>
		<tr>
			<td width="4%">{% trans "ID" %}</td>
			<td width="10%">{% trans "Username" %}</td>
			<td width="">{% trans "Content" %}</td>
			<td width="8%">{% trans "Date create" %}</td>
		</tr>
		</thead>
		<tbody>
		{% for note in note_list %}
		<tr>
			<td>{{ note.id }}</td>
			<td>{{ note.username }}</td>
			<td>
				<a href="/note/view/{{ note.id }}/" title="{{ note.content }}">{{ note.content|linebreaksbr|slice:":255" }}</a>
			</td>
			<td>{{ note.date_create|hdate }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	{% if is_paginated %}
		<div class="pagination">
			<span class="page-links">
				{% if page_obj.has_previous %}
				<a href="/note/list/?page={{ page_obj.previous_page_number }}">{% trans "previous page" %}</a>
				{% endif %}
				{% blocktrans with page_number=page_obj.number num_pages=page_obj.paginator.num_pages %}
				<span class="page-current">
				Page {{ page_number }} of {{ num_pages }}
				</span>
				{% endblocktrans %}
				{% if page_obj.has_next %}
				<a href="/note/list/?page={{ page_obj.next_page_number }}">{% trans "next page" %}</a>
				{% endif %}
			</span>
		</div>
	{% endif %}
</div>		








{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="{% static "js/sort_table.js" %}"></script>
{% endblock %}

