{% extends "article/article_site_base.html" %}

{% load i18n %}
{% load custom_tags %}

{% block head_title %}{{ head_title_text }}{% endblock %}

{% block fix_button_area %}
<div class="fix_button_area">
	<div class="btn-group-vertical">
		<a class="btn btn-default" href="/note/edit/{{ note.id }}">
  			<span class="glyphicon glyphicon-edit"></span>
  			<span class="fix_button_text">{% trans "edit" %}</span>
  		</a>
  		<a class="btn btn-default deletelink" href='javascript:;' data-id='{{ note.id }}' data-type='note' data-redirect="/note/list/">
  			<span class="glyphicon glyphicon-remove"></span>
  			<span class="fix_button_text">{% trans "delete" %}</span>
  		</a>
	</div>
</div>
{% endblock %}

{% block body %}
<div class="main_body">
	<div class="note_body">
		{{ note.content|linebreaks }}	
	</div>
</div>
{% endblock %}