.code_info .tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
}

.code_info .tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.code_info .tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}

.code_info .tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}

.code_info .tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}

.code_info .tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}

.code_info .tooltip-inner {
  max-width: 200px;
  padding: 3px 5px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #ddd;
  border-radius: 4px;
}

.code_info .tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.code_info .tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #ddd;
  border-width: 5px 5px 0;
}

.code_info .tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-top-color: #ddd;
  border-width: 5px 5px 0;
}

.code_info .tooltip.top-right .tooltip-arrow {
  right: 5px;
  bottom: 0;
  border-top-color: #ddd;
  border-width: 5px 5px 0;
}

.code_info .tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #ddd;
  border-width: 5px 5px 5px 0;
}

.code_info .tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #ddd;
  border-width: 5px 0 5px 5px;
}

.code_info .tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #ddd;
  border-width: 0 5px 5px;
}

.code_info .tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-bottom-color: #ddd;
  border-width: 0 5px 5px;
}

.code_info .tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-bottom-color: #ddd;
  border-width: 0 5px 5px;
}













.syntaxhighlighter {margin-top:0 !important;}
.syntaxhighlighter a, .syntaxhighlighter div, .syntaxhighlighter code, .syntaxhighlighter table, .syntaxhighlighter table td, .syntaxhighlighter table tr, .syntaxhighlighter table tbody, .syntaxhighlighter table thead, .syntaxhighlighter table caption, .syntaxhighlighter textarea
{
	line-height:18px !important;	
}
.code_body {padding-right:0;}
.code_info .tooltip-inner {height:18px;line-height:13px;}
.code_info {padding:5px 0;}
.syntaxhighlighter .mark_link_wrapper {
	position:absolute !important;
	right:0  !important;
	top:0 !important;
	
}
.code_info .mark_view {
	color:#333;
}
.code_info .code_info_wrapper {
	position: relative;
}
.code_info .mark_link {
	color:#fff;
	font-weight:bold;
	display:block;
	position:absolute;
	left:-55px;
	top:0;
}
.syntaxhighlighter .single_mark, .syntaxhighlighter .multi_mark  {
	background:#d1edff !important;
	display:block;
	position:absolute !important;
	right:45px !important;
	top:0px !important;
	z-index:9;
	color:#0f192a !important;
	font-size: 12px !important;
	padding: 1px 5px !important;
	height: 13px !important;
	line-height: 14px !important;
	border-radius: 3px !important;
}

.syntaxhighlighter .mark_link_text {position:absolute !important;right:10px !important;top:0px !important;z-index:9;color:#fff;}
.syntaxhighlighter .line {position:relative !important;}
.syntaxhighlighter .no-background {background:none !important;}
.syntaxhighlighter {padding:5px 0;}
.syntaxhighlighter.nogutter td.code .container textarea, .syntaxhighlighter.nogutter td.code .line {
	padding-left:0.5em !important;
}


.max_height100 {max-height:100px;}
.max_height150 {max-height:150px;}
.max_height200 {max-height:200px;}
.max_height250 {max-height:250px;}
.max_height300 {max-height:300px;}







.xw0 {font-weight:normal;}
.xw1 {font-weight:bold;}
.mtn {margin-top:5px;}
.mtm {margin-top:10px;}
.mtw {margin-top:20px;}
.mbn {margin-bottom:5px;}
.mbm {margin-bottom:10px;}
.mbw {margin-bottom:20px;}
.ptn {padding-top:5px;}
.ptm {padding-top:10px;}
.ptw {padding-top:20px;}
.pbn {padding-bottom:5px;}
.pbm {padding-bottom:10px;}
.pbw {padding-bottom:20px;}
.mrn {margin-right:5px;}
.mrm {margin-right:10px;}
.mrw {margin-right:20px;}
.mln {margin-left:5px;}
.mlm {margin-left:10px;}
.mlw {margin-left:20px;}
.prn {padding-right:5px;}
.prm {padding-right:10px;}
.prw {padding-right:20px;}
.pln {padding-left:5px;}
.plm {padding-left:10px;}
.plw {padding-left:20px;}
.dropdown-menu.dropdown-menu-xs>li>a {padding:1px 5px;font-size:12px;}
.dropdown-menu.dropdown-menu-xs {min-width:120px;}
.opacity-grey {
	background: rgba(0, 0, 0, 0.1) !important;  
    background: #000;  
    filter: alpha(opacity=10);
}
.no-border {border:0;}


.header {height:0px;margin-bottom:10px;margin-top:71px;}


.pn_input_area {width: 75px;border: 0;background: #f5f5f5;padding: 0 5px;cursor:default;}
.pn_input_area:hover, .pn_input_area:active, .pn_input_area:focus {background:none;}
/*remove background color*/
.pn_input_area:active {
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
}
.pn_input {height:22px;padding:0 4px;text-align:right;}
.maxpn {display: block;padding: 2px 0;}

.mark_block {border-bottom:1px dashed #999;}
.mark_content {min-height:60px;}
.mark_content p {margin:0;}






