{% extends "site_base.html" %}

{% load bootstrap %}

{% block head_title %}{{ head_title_text }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-7">
            <form id="post_form" method="post" action="">
            <fieldset>
                <legend>{{ legend_text }}</legend>
                {% csrf_token %}
                {{ form|bootstrap:"title" }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn btn-primary">{{ submit_btn_text }}</button>
			</fieldset>
            </form>
        </div>
    </div>
<style type="text/css">
#id_description {height:100px;}
</style>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#id_title').focus();
    });
</script>
{% endblock %}