{% extends "article/article_site_base.html" %}

{% load i18n %}
{% load custom_tags %}

{% block head_title %}{{ head_title_text }}{% endblock %}

{% block fix_button_area %}
<div class="fix_button_area">
	<div class="btn-group-vertical">
		{% if view.request.user.id == code.uid %}
  		<a class="btn btn-default" href="/code/edit/{{ code.id }}">
  			<span class="glyphicon glyphicon-edit"></span>
  			<span class="fix_button_text">{% trans "edit" %}</span>
  		</a>
  		<a class="btn btn-default deletelink" href='javascript:;' data-id='{{ code.id }}' data-type='code' data-redirect="/code/list/">
  			<span class="glyphicon glyphicon-remove"></span>
  			<span class="fix_button_text">{% trans "delete" %}</span>
  		</a>
  		{% endif %}
  		<button type="button" class="btn btn-default gotop_btn">
  			<span class="glyphicon glyphicon-chevron-up"></span>
  			<span class="fix_button_text">{% trans "TOP" %}</span>
  		</button>
	</div>
</div>
{% endblock %}

{% block body %}
<div class="main_body">
	<div class="code_body">
		{% get_code code.id %}
	</div>
</div>
{% endblock %}