{% extends "site_base.html" %}


{% load i18n %}
{% load custom_tags %}

{% block head_title %}{{ head_title_text }}{% endblock %}

{% block body %}

<div>
	<h1>{% trans "Chapter List" %}</h1>
	<ul>
		{% for chapter in chapter_list %}
		<li><a href="/article/view/{{ article_name }}/{{ chapter.filename }}/">{{ chapter.filename|get_dict_value:article_title_dict }}</a></li>
		{% endfor %}
	</ul>	

































</div>

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
</script>
{% endblock %}


