{% block modal_form_javascript %}
{{ modal_form.javascript | safe }}
{% endblock %}
<div class="modal-dialog">
	<div class="modal-content">
	<form action="{{ modal_form.action }}" id="modal_form" method="post" style="margin-bottom:0;" onsubmit="">
	{% csrf_token %}
	{% if modal_form.hid_input %}
	{% for hid_input in modal_form.hid_input %}
	<input type="hidden" value="{{ hid_input.0 }}" name="{{ hid_input.1 }}" />
	{% endfor %}
	{% endif %}
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			{% block modal_title %}
			<h4 class="modal-title">{{ modal_form.title }}</h4>
			{% endblock %}
		</div>
		<div class="modal-body">
			{% block modal_body %}{{ modal_form.body|safe }}{% endblock %}
		</div>
		<div class="modal-footer">
			{% if modal_form.btn_primary %}
			<button type="submit" class="btn btn-primary confirm_box_btn_primary">{{ modal_form.btn_primary }}</button>
			{% endif %}
			{% if modal_form.btn_default %}
			<button type="button" class="btn btn-default confirm_box_btn_default" data-dismiss="modal">{{ modal_form.btn_default }}</button>
			{% endif %}
			</div>
		</div>
	</form>
</div>


<!-- 
modal_form = {
        'javascript': '<script type="test/javascript">alert("it works!")</script>',
        'action': 'test_form_action',
        'hid_input': [('name1','value1'),('name2','value2'),],
        'title': 'Mark line',
        'body': '<h1>test body html</h1>',
        'hid_input': [('name1','value1'),('name2','value2'),],
        'btn_primary': _("Submit"),
        'btn_default': _("Close"),
    }
-->