{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
    <h1>{% trans "Welcome to EASYDATA" %}</h1>
    <p>
        {% blocktrans %}
        <b>Easydata</b> is a study website for Machine-learning and Data-mining which is writtern in Python ,based on <a href="http://djangoproject.com/">Django</a> Project. 
        That means, it is very easy to get testing dataset by python API or even by using spider iframe like Scrapy. 
        After that, We could analyze them with some third-party python packages, NLTK for instance. And 
        I'll do my best to display and explain many classical algorithm about this BigData field.
        Additionally, there are many useful tools integrate on this site to help you learning. 
        {% endblocktrans %}
    </p>
    
    <h2>About PDF online</h2>
    <p>
        {% blocktrans %}
        By using PDF2HTML tools, You could read the PDF file on-line with hight performance and excellent user experience.
        On the PDF view page, anyone could make his/her bookmarker on any line that he/she want to place.
        Additionally, a comment function is also built in on this page.You could visit <a href="/pdf/view/1/">here</a> for detail.    
        {% endblocktrans %}
    </p>
    
    
{% endblock %}


{% block content %}
<ol>
	<li><a href="/article/hadoop_deployment/begin/">Hadoop Deployment</a></li>
	<li><a href="/article/programming_collective_intelligence/begin/">Programming Collective Intelligence</a></li>
	<li><a href="/article/mahout_development/mahout_install/">Mahout development</a></li>
</ol>




<!-- 
<div class="row">
    <div class="col-lg-4">
    {% block column-1 %}
        <h2>Heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed viverra dui. Aenean blandit faucibus tincidunt. Phasellus fermentum elit ut erat varius cursus. Nunc posuere mauris sit amet enim congue quis elementum lectus tincidunt. Cras vel tempus metus.</p>
        <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
    {% endblock %}
    </div>
    <div class="col-lg-4">
    {% block column-2 %}
        <h2>Heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed viverra dui. Aenean blandit faucibus tincidunt. Phasellus fermentum elit ut erat varius cursus. Nunc posuere mauris sit amet enim congue quis elementum lectus tincidunt. Cras vel tempus metus.</p>
        <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
    {% endblock %}
    </div>
    <div class="col-lg-4">
    {% block column-3 %}
        <h2>Heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed viverra dui. Aenean blandit faucibus tincidunt. Phasellus fermentum elit ut erat varius cursus. Nunc posuere mauris sit amet enim congue quis elementum lectus tincidunt. Cras vel tempus metus.</p>
        <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
    {% endblock %}
    </div>
</div>
-->
{% endblock %}

{% block messages %}{% endblock%}
{% block breadcrumb %}{% endblock%}