{% extends "theme_base.html" %}

{% load staticfiles %}
{% load metron_tags %}
{% load i18n %}
{% load custom_tags %}

{% block style_base %}
	<!-- 
    <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet">
    <link href="{% static "css/site.css" %}" rel="stylesheet">
    <link href="{% static "css/common.css" %}" rel="stylesheet">
    -->
    <link href="{% static "bootstrap/css/bootstrap-theme.min.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/common.css" %}" rel="stylesheet">
    {% block extra_style_base %}{% endblock %}
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}



{% block topbar %}
    <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="fa fa-bar"></span>
            <span class="fa fa-bar"></span>
            <span class="fa fa-bar"></span>
        </button>
        {% block site_brand %}<a class="navbar-brand" href="{% url "home" %}">{{ SITE_NAME }}</a>{% endblock %}
    </div>
    <div class="collapse navbar-collapse">
    	{% block nav %}
        <ul class="nav navbar-nav">
        	<li class="{{ request.path | get_active_class:"/pdf" }}"><a href="/pdf/list/">PDF</a></li>
        	<li class="{{ request.path | get_active_class:"/article" }}"><a href="/article/">Article</a></li>
        </ul>
        {% endblock %}
        {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
    </div>
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}
    <div style="display:none;" class="hide_data">
	    <span class="hide_data_username">{{ request.user.username }}</span>
	    <span class="hide_data_uid">{{ request.user.id }}</span>
    </div>
    <div id="response_modal" class="modal fade"></div>
    {% endblock %}
    
{% endblock %}


{% block script_base %}
    <script src="{% block jquery_src %}{% static "pinax/js/jquery.js" %}{% endblock %}"></script>
    <!-- <script src="{% static "js/bootstrap.min.js" %}"></script> -->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "pinax/js/theme.js" %}"></script>
    <script src="{% static "js/common.js" %}"></script>
    {% block extra_script_base %}{% endblock %}
{% endblock %}


