{% extends "theme_base.html" %}

{% load staticfiles %}
{% load metron_tags %}
{% load i18n %}
{% load custom_tags %}

{% block style_base %}
	<!-- 
    <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet">
    <link href="{% static "css/site.css" %}" rel="stylesheet">
    <link href="{% static "css/common.css" %}" rel="stylesheet">
    -->
    <script type="text/javascript" src="{% block jquery_src %}{% static "pinax/js/jquery.js" %}{% endblock %}"></script>
    <link href="{% static "bootstrap/css/bootstrap-theme.min.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "pinax/js/theme.js" %}"></script>
    <!-- <script src="{% static "js/bootstrap.min.js" %}"></script> -->
    <link href="{% static "css/common.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{% static "js/common.js" %}"></script>
    {% block extra_style_base %}{% endblock %}
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}



{% block topbar %}
    <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="fa fa-bar"></span>
            <span class="fa fa-bar"></span>
            <span class="fa fa-bar"></span>
        </button>
        {% block site_brand %}
        <a class="navbar-brand" href="{% url "home" %}">
        	{{ SITE_NAME }}</a>
        	<div class="lang_select_area navbar-brand">
	        	[
	        	{% get_language_info_list for LANGUAGES as languages %}
				{% for language in languages %}
				<a class="lang_select" href="javascript:;" data-uid="{{ request.user.id }}" data-code="{{ language.code }}">{{ language.code|get_language_shortname }}</a>
				{% if not forloop.last %}|{% endif %}
				{% endfor %}
				]
	        	{% if not request.user.is_authenticated %}
	        	<form action="/i18n/setlang/" method="post" style="display:none;" id="lang_select_form">
				{% csrf_token %}
				<input name="next" type="hidden" value="{{ redirect_to }}" />
				<select name="language" id="languageSel">
				{% get_language_info_list for LANGUAGES as languages %}
				{% for language in languages %}
				<option value="{{ language.code }}">{{ language.name_local }} ({{ language.code }})</option>
				{% endfor %}
				</select>
				<input type="submit" value="Go" />
				</form>
	        	{% endif %}
        	</div>
        
        {% endblock %}
    </div>
    <div class="collapse navbar-collapse">
    	{% block nav %}
        <ul class="nav navbar-nav">
        	<li class="{{ request.path | get_active_class:"/pdf" }}"><a href="/pdf/list/">PDF</a></li>
        	<li class="{{ request.path | get_active_class:"/article" }}"><a href="/article/list/">Article</a></li>
        	<li class="{{ request.path | get_active_class:"/code" }}"><a href="/code/list/">Code</a></li>
        </ul>
        {% endblock %}
        {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
    </div>
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}
    <div style="display:none;" class="hide_data">
	    <span class="hide_data_username">{{ request.user.username }}</span>
	    <span class="hide_data_uid">{{ request.user.id }}</span>
    </div>
    <div id="response_modal" class="modal fade"></div>
    {% endblock %}
    
{% endblock %}


{% block script_base %}
    
    {% block extra_script_base %}{% endblock %}
{% endblock %}


